In [6]:
import pandas as pd

file_path = "C:/Users/gangl/Documents/Python Scripts/TripleCombination_Data_needed.csv"
df = pd.read_csv(file_path)

df

,record_id,redcap_repeat_instance,alanineaminotransferase,aspartate_aminotransferase,total_bilirubin,alkaline_phosphatase,gamma_glutamyl,albumin
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.0,95.0,51.0,0.3,302.0,NaN,4.4
2,1,2.0,140.0,69.0,0.5,293.0,NaN,4.3
3,1,3.0,134.0,65.0,0.2,246.0,NaN,4.6
4,1,4.0,275.0,152.0,0.8,408.0,26.0,4.7
...,...,...,...,...,...,...,...,...
730,170,2.0,47.0,28.0,0.2,275.0,NaN,4.3
731,170,3.0,29.0,26.0,0.2,266.0,NaN,4.1
732,171,NaN,NaN,NaN,NaN,NaN,NaN,NaN
733,171,1.0,59.0,32.0,0.3,231.0,NaN,4.5
734,171,2.0,35.0,31.0,0.3,234.0,NaN,4.6

In [8]:
# Pivot the data
df_pivoted = df.pivot(index='record_id', columns='redcap_repeat_instance')

df_pivoted

                       alanineaminotransferase                             \
redcap_repeat_instance                     NaN  1.0    2.0    3.0    4.0
record_id
1                                          NaN  95.0  140.0  134.0  275.0
2                                          NaN  13.0   11.0   12.0    NaN
3                                          NaN  21.0   14.0   20.0   12.0
4                                          NaN  50.0   28.0   24.0   17.0
5                                          NaN  69.0   58.0  102.0   62.0
...                                        ...   ...    ...    ...    ...
167                                        NaN  23.0    NaN    NaN    NaN
168                                        NaN  22.0    NaN    NaN    NaN
169                                        NaN  30.0   24.0   80.0   18.0
170                                        NaN  43.0   47.0   29.0    NaN
171                                        NaN  59.0   35.0    NaN    NaN

                                                      ... albumin            \
redcap_repeat_instance   5.0   6.0    7.0  8.0  9.0   ...    2.0  3.0  4.0
record_id                                             ...
1                        78.0  89.0  179.0  NaN  NaN  ...     4.3  4.6  4.7
2                         NaN   NaN    NaN  NaN  NaN  ...     4.4  4.4  NaN
3                        27.0   NaN    NaN  NaN  NaN  ...     4.4  4.5  4.0
4                        28.0   NaN    NaN  NaN  NaN  ...     4.9  4.7  4.6
5                        74.0  61.0    NaN  NaN  NaN  ...     4.7  4.1  4.3
...                       ...   ...    ...  ...  ...  ...     ...  ...  ...
167                       NaN   NaN    NaN  NaN  NaN  ...     NaN  NaN  NaN
168                       NaN   NaN    NaN  NaN  NaN  ...     NaN  NaN  NaN
169                     189.0   NaN    NaN  NaN  NaN  ...     4.4  4.2  4.5
170                       NaN   NaN    NaN  NaN  NaN  ...     4.3  4.1  NaN
171                       NaN   NaN    NaN  NaN  NaN  ...     4.6  NaN  NaN


redcap_repeat_instance 5.0  6.0  7.0  8.0  9.0  10.0 11.0
record_id
1                       4.5  4.8  5.0  NaN  NaN  NaN  NaN
2                       NaN  NaN  NaN  NaN  NaN  NaN  NaN
3                       4.5  NaN  NaN  NaN  NaN  NaN  NaN
4                       4.5  NaN  NaN  NaN  NaN  NaN  NaN
5                       4.4  4.5  NaN  NaN  NaN  NaN  NaN
...                     ...  ...  ...  ...  ...  ...  ...
167                     NaN  NaN  NaN  NaN  NaN  NaN  NaN
168                     NaN  NaN  NaN  NaN  NaN  NaN  NaN
169                     4.2  NaN  NaN  NaN  NaN  NaN  NaN
170                     NaN  NaN  NaN  NaN  NaN  NaN  NaN
171                     NaN  NaN  NaN  NaN  NaN  NaN  NaN

[168 rows x 72 columns]

In [9]:
# Flatten the MultiIndex columns
df_pivoted.columns = [f'{col}_{inst}' for col, inst in df_pivoted.columns]

df_pivoted

,alanineaminotransferase_nan,alanineaminotransferase_1.0,alanineaminotransferase_2.0,alanineaminotransferase_3.0,alanineaminotransferase_4.0,alanineaminotransferase_5.0,alanineaminotransferase_6.0,alanineaminotransferase_7.0,alanineaminotransferase_8.0,alanineaminotransferase_9.0,...,albumin_2.0,albumin_3.0,albumin_4.0,albumin_5.0,albumin_6.0,albumin_7.0,albumin_8.0,albumin_9.0,albumin_10.0,albumin_11.0
record_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,95.0,140.0,134.0,275.0,78.0,89.0,179.0,NaN,NaN,...,4.3,4.6,4.7,4.5,4.8,5.0,NaN,NaN,NaN,NaN
2,NaN,13.0,11.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4.4,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,21.0,14.0,20.0,12.0,27.0,NaN,NaN,NaN,NaN,...,4.4,4.5,4.0,4.5,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,50.0,28.0,24.0,17.0,28.0,NaN,NaN,NaN,NaN,...,4.9,4.7,4.6,4.5,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,69.0,58.0,102.0,62.0,74.0,61.0,NaN,NaN,NaN,...,4.7,4.1,4.3,4.4,4.5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,NaN,30.0,24.0,80.0,18.0,189.0,NaN,NaN,NaN,NaN,...,4.4,4.2,4.5,4.2,NaN,NaN,NaN,NaN,NaN,NaN
170,NaN,43.0,47.0,29.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4.3,4.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,NaN,59.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# Reset index if needed
df_pivoted.reset_index(inplace=True)

# Display result
df_pivoted

,record_id,alanineaminotransferase_nan,alanineaminotransferase_1.0,alanineaminotransferase_2.0,alanineaminotransferase_3.0,alanineaminotransferase_4.0,alanineaminotransferase_5.0,alanineaminotransferase_6.0,alanineaminotransferase_7.0,alanineaminotransferase_8.0,...,albumin_2.0,albumin_3.0,albumin_4.0,albumin_5.0,albumin_6.0,albumin_7.0,albumin_8.0,albumin_9.0,albumin_10.0,albumin_11.0
0,1,NaN,95.0,140.0,134.0,275.0,78.0,89.0,179.0,NaN,...,4.3,4.6,4.7,4.5,4.8,5.0,NaN,NaN,NaN,NaN
1,2,NaN,13.0,11.0,12.0,NaN,NaN,NaN,NaN,NaN,...,4.4,4.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,21.0,14.0,20.0,12.0,27.0,NaN,NaN,NaN,...,4.4,4.5,4.0,4.5,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,50.0,28.0,24.0,17.0,28.0,NaN,NaN,NaN,...,4.9,4.7,4.6,4.5,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,69.0,58.0,102.0,62.0,74.0,61.0,NaN,NaN,...,4.7,4.1,4.3,4.4,4.5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,167,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,168,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,169,NaN,30.0,24.0,80.0,18.0,189.0,NaN,NaN,NaN,...,4.4,4.2,4.5,4.2,NaN,NaN,NaN,NaN,NaN,NaN
166,170,NaN,43.0,47.0,29.0,NaN,NaN,NaN,NaN,NaN,...,4.3,4.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,171,NaN,59.0,35.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_pivoted.to_csv("Triple.csv", index=False)